<div class="row">
  
</div>
  
  <div class="row">
    <h2 class="center">Enter Details for Meal {{ counter }}</h2>
      <form class="form-horizontal">
      <fieldset>
      
      <!-- Text input-->
      <div class="form-group" ng-submit="addMeal(meal)">
        <label class="col-md-4 control-label" for="price">Base Meal Price:</label>  
        <div class="col-md-5">
        <input id="price" name="price" type="text" placeholder="$9.99" class="form-control input-md" ng-model="meal.price">
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="tax">Tax Rate:</label>  
        <div class="col-md-5">
        <input id="tax" name="tax" type="text" placeholder="8.25%" class="form-control input-md" ng-model="meal.tax">
        </div>
      </div> 
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="tip">Tip Percentage:</label>  
        <div class="col-md-5">
        <input id="tip" name="tip" type="text" placeholder="20%" class="form-control input-md" ng-model="meal.tip">
        </div>
      </div> 
      
      <!-- Button (Double) -->
      <div class="form-group">
        <div class="col-md-8 pull-right">
          <button id="button1id" name="button1id" class="btn btn-success" ng-click="addMeal(meal)">Add Meal</button>
          <button id="button2id" name="button2id" class="btn btn-danger" ng-click="meal = {};">Cancel</button>
        </div>
      </div>
      
      </fieldset>
      </form>
                
    </div>
  </div>
